#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    height: 75rem;
    /* display: inline-block !important; */
}