<div class="container-fluid" style="padding-left: 3.5rem;
padding-right: 3.5rem;">
    <section class="center">
        <div class="row">
            <div class="col">
                <h1 class="centerxd"> {{ paciente.nombrePaciente | uppercase }} {{ paciente.apellidoPaterno | uppercase}} {{ paciente.apellidoMaterno | uppercase }} </h1>
            </div>
            <div class="col">
                <p>
                    <span>
                {{ paciente.fechaRegistro  }} 
                </span>
                </p>
                <p>
                    <span><label for="consultas">  Consultas: </label>  {{ paciente.consultas }} </span>
                </p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-6">
                <select name="servicio" class="form-control" id="" #servicio (change)="irAUnServicio( servicio.value  )">
                <option   value="" selected> Selecciona un servicio  </option>
                <option   value="ambulancia"> Ambulancia</option>
                <option   value="consulta"  > Consulta general </option>
                <option   value="consultaEspecialista">  Consulta con especialista </option>
                <option   value="endoscopia"> Endoscopía</option>
                <!-- <option   value="resultados"> Entraga de resultados </option>  -->
                <!-- <option   value="farmacia">   Farmacia </option>  -->
                <!-- <option   value="hospitalizacion"> Hospitalización</option>  -->
                <option   value="laboratorio"> Laboratorio</option>
                <!-- <option   value="quirofano">  Quirofano</option> -->
                <option   value="xray">     Rayos X </option>
                <option   value="resonancia"> Resonancia</option>
                <option   value="tomografias"> Tomografía</option>
                <!-- <option   value="TrabajoSocial" > Trabajo Social  </option> -->
                <option   value="ultrasonido"> Ultrasonido</option>
                <!-- <option   value="urgencias"> Urgencias</option>  -->
                <option   value="otros"> Servicios generales </option> 
              </select>
            </div>
            <!-- <div class="col">
            <button class="btn principalButton" id="boton_contra1"> CONSULTAS </button>
        </div>
        <div class="col">
            <button class="btn secondaryButton" id="boton_contra2">   PAGOS </button>
        </div> -->
        </div>
    </section>
    <br>
    <section class="card" name="card" id="card">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>
                        Domicilio: {{ paciente.direccion.callePaciente }} {{ paciente.direccion.estadoPaciente }}, {{ paciente.direccion.paisPaciente }}
                    </h5>
                </div>
                <div class="col">
                    <h5> Edad: {{ paciente.edad }} </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>
                        C.P: {{ paciente.cp }}
                    </h5>
                </div>
                <div class="col">
                    <h5>
                        Correo: {{ paciente.correo }}
                    </h5>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <h5>
                        CURP: {{ paciente.curp }}

                    </h5>
                </div>
                <div class="col">
                    <h5>
                        ID: {{ paciente.id }}
                    </h5>
                </div>
            </div>
            <div class="row center">
                <div class="col" style="font-style: italic;font-weight: lighter;">
                    <h4>Contacto de emergencia</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>
                        Nombre: {{ paciente.contactoEmergencia1Nombre }}
                    </h5>
                </div>
                <div class="col">
                    <h5>
                        Edad: {{ paciente.contactoEmergencia1Edad }}
                    </h5>

                </div>
            </div>
        </div>
    </section>

    <h3 class="center color-text mt-5"> Tus paquetes </h3>

    <div class="card-columns">
        <div *ngFor="let item of paquetes">
            <div class="col" *ngIf="paquetes.length != 0">
                <div class="container">
                    <div class="card center" name="card" id="card" style="
                height: 24rem !important;">
                        <img class="card-img-top img" [src]="'assets/'+item.paquete.icon" alt="Card image cap" style="width: 260px;" [routerLink]="['/paquete-paciente', item._id]">
                        <div class="card-body">
                            <h5 class="card-title color-text"> {{ item.paquete.nombrePaquete }} </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-3  mt-1  sin-paquetes" *ngIf="paciente.paquetes.length == 0">
            <!--Inicio Cambios-->
            <!--<div class="card">
            <div class="alert alert-light center padding-auto" role="alert">
                <p>
                    Aún no tienes paquetes
                </p>
            </div>
        </div>-->
            <!--Fin Cambios-->

        </div>
        <div class="container">
            <div class="card center" name="card" id="card" style="height: 24rem!important;" [routerLink]="['/solicitar/paquete/', id]">
                <img class="card-img-top img" src="../../../assets/assets/icons/serviciosIconos/add.svg" alt="Card image cap" style="width: 200px; margin-top: 2rem;">
                <h5 class="card-title color-text" style="margin-top: 2rem;"> AGREGAR PAQUETE</h5>
            </div>
        </div>
    </div>



</div>