.principalButton {
    color: white;
    font-size: 1.3rem;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 15px;
}