<app-ficha-identificacion [paciente]="paciente" [idConsulta]="id"></app-ficha-identificacion>
<!-- <app-historia-clinica [paciente]="paciente"></app-historia-clinica> -->
<app-historia-clinica [paciente]="paciente"></app-historia-clinica>