<div id="wrapper" class="wrapper">
    <!-- Content Wrapper

<app-side-bar (notificarViaChat)="estadoChat($event )" [nombreUsuario]="usuario.nombre" class="orden"></app-side-bar>
-->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- [nombreUsuario]="usuario.nombre" -->
        <app-nav-bar></app-nav-bar>
        <section style="padding-left: 2em; padding-right: 2em;">
            <router-outlet></router-outlet>
            <div id="boton_chat">
                <button type="button" class="btn btn-circle btn-xl" (click)="abrirVentanaChat($event)" data-toggle="modal" data-target="#ChatModal" data-backdrop="false">
               <img src="../../../assets/assets/icons/comment.svg" width="70" height="70" />
              </button>

            </div>
        </section>

        <!-- En esta seccio ira el dashboars y sus compoentes  -->


        <div class="modal" id="ChatModal" tabindex="-1" aria-labelledby="ChatModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="ChatModal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body" style="height: 28em">
                        <app-chat (cerrarChat)="cerrarVentanaChat($event)" class="ver-chat contact" style="padding: 1em;"></app-chat>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inicia la seccion del chat -->

        <!--app-search-bar></app-search-bar -->
        <!--footer class="fbg-dark text-dark" style="background-color: white; margin-top: 0em !important;">
      </footer>  -->
        <footer class="fix-footer">

            <h6 style="text-align: center;">Powered by emiexsec.com</h6>
        </footer>
    </div>
</div>