app-nav-bar {
    width: 125%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .0001) !important;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 1.33;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    float: right;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.ver-chat {
    display: block;
    position: absolute;
}

.ocultar-chat {
    display: none;
}

.contact {
    position: fixed;
    margin-top: 10em;
    padding-left: 0em;
    height: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fix-footer {
    position: fixed;
    top: 96%;
}

.fix-footer h6 {
    font-size: 1.2rem;
    font-weight: 500;
}

@media(max-width:575px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -7em;
        margin-left: -1em;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -16em;
        margin-left: -2em;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -8em;
        margin-left: -1em;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -8em;
        margin-left: -2em;
    }
}

@media (min-width: 1200px) {
    #boton_chat {
        position: relative;
        float: right;
        margin-top: -8em;
        margin-left: -4em;
    }
    #ChatModal {
        margin-top: 8em;
        margin-left: 10em;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .modal-dialog{
        max-width: 500px;
        margin: 22rem 0rem 0rem 16rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -16.5rem;
         top: -3rem;
    }
}
@media (min-width: 1280px) and (max-height: 900px){
	.modal-dialog{
        max-width: 500px;
        margin: 18rem 0rem 0rem 25rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -23.5rem;
         top: 3rem;
    }
}
  
@media (min-width: 2160px) and (max-height: 1440px){
	.modal-dialog{
        max-width: 500px;
        margin: 52rem 0rem 0rem 80rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -23.5rem;
         top: 3rem;
    }
}

@media (min-width: 1920px) and (max-height: 1200px){
    .modal-dialog{
        max-width: 500px;
        margin: 37rem 0rem 0rem 65rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -23.5rem;
         top: 0rem;
    }

}
@media (min-width: 1440px) and (max-height: 900px){
.modal-dialog{
    max-width: 500px;
    margin: 18rem 0rem 0rem 35rem;
}
#ChatModal {
    /*margin-top: 8em;
    margin-left: 10em;*/
    right: -23.5rem;
     top: 3rem;
}
}
@media (min-width: 1680px) and (max-height: 1050px){
    .modal-dialog{
        max-width: 500px;
        margin: 28rem 0rem 0rem 50rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -23.5rem;
         top: 2.5rem;
    }
}
@media (min-width: 1920px) and (max-height: 1280px){
    .modal-dialog{
        max-width: 500px;
        margin: 42rem 0rem 0rem 65rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -23.5rem;
         top: 2.5rem;
    }
}

@media (min-width: 2736px) and (max-height: 1824px){
    .modal-dialog{
        max-width: 500px;
        margin: 76rem 0rem 0rem 116rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -23.5rem;
         top: 2.5rem;
    }
}

@media (min-width: 3840px) and (max-height: 2600px){
    .modal-dialog{
        max-width: 500px;
        margin: 125rem 0rem 0rem 185rem;
    }
    #ChatModal {
        /*margin-top: 8em;
        margin-left: 10em;*/
        right: -23.5rem;
         top: 2.5rem;
    }
}